@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body,html{ 
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-image: url("../shared/assets/map/wallpaper.webp");
    background-position: 50% 40%;
}
h1,h2,h3,h4,h5,h6{ 
    margin: 0;
    padding: 0;
}
.animate{ 
    opacity: 1 ;
    visibility: visible;
    transition: all 0.3s ease;
}
.dark-grey{ 
    color:#050E3C;
}
.max-w-4{ 
    max-width: 70%;
}
.pb-16{ 
    padding-bottom: 16px;
}
.l-s-l {
    line-height: 32px;
}
.container{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-direction: column;
    .intro{ 
        max-width: 900px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .text{ 
            text-align: center;
            color: #0C2B4E;
        }
    }
}
.modals{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .modal{ 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        transform: scale(0.2);
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        background-image: url("../shared/assets/map/wallpaper.webp");
        .overlay{ 
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background-color: rgba($color: #000000, $alpha: 0.6);
        }
        .content{ 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 90vh;
            width: 90vw;
            z-index: 3;
            border-radius: 30px;
            background-image: url("../shared/assets/map/modals_wallpaper.png");
            background-repeat: no-repeat;
            background-size: cover;
            padding: 20px;
            overflow-y: auto;
            .title{ 
                font-size: 28px;
            }
            .wokr_experience_container{ 
                padding-top: 30px;
                .position{
                    font-size: 20px;
                }
                .company{ 

                    font-size: 18px;
                }
                .experience-list{ 
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .skill{ 
                        font-size: 16px;
                    }
                }
            }
        }
        &.open{ 
            transition: all 0.3s ease-in-out;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transform: scale(1);
        }
    }
}
.sound_container{ 
    position: fixed;
    bottom: 50px;
    right: 50px;
    .volumeBtn{ 
        background:none;
        border: none;
        outline: none;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        &.active{ 
            opacity: 1 ;
            visibility: visible;
            transition: all 0.3s ease;
        }
        img{ 
            width: 42px;
            height: 42px;
        }
    }
}
#notification{ 
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    &.animate{ 
    opacity: 1 ;
    visibility: visible;
    transition: all 0.3s ease;
}
}
#game {
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    @media(min-width:360px) {
        height: 300px;
        width: 360px;
    }
    @media(min-width:560px) {
        height: 300px;
        width: 500px;
    }
    @media(min-width:800px){ 
         height: 400px;
         width: 600px;
    }

    @media(min-width:1100px){ 
        height: 500px;
        width: 900px;
    }
}
